
.g_parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 8px;
}   

.g_parent img{
    width: 30%;
    height: auto;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
}
        
    
@media only screen and (max-width: 700px) {
    .g_parent {
        grid-template-columns: 1fr; /* Uma coluna → tudo vertical */
        grid-template-rows: auto;   /* Altura ajusta automaticamente */
        gap: 20px;
    }

    /* Fazer as divs ocuparem toda a largura e ignorarem a posição anterior */
    .g_parent > div {
        grid-column: 1 !important;
        grid-row: auto !important;
    }

    .g_parent img {
        width: 100%; /* Aproveita melhor o espaço no mobile */
    }
}
